:root {
--color-title: #2E2F42;
--color-action: #4D5AE5;
--color-btn-invert: #FFFFFF;
}
body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #434455;
}
.container {
width: 100%;
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}
.list { 
list-style: none;
}
.link {
text-decoration: none;
}
p, h1, h2, h3 {
margin: 0;
}
ul {
margin: 0;
padding-left: 0;
}
.title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--color-title);
}
.text {
font-weight: 400;
line-height: 1.5;
color: #434455;
}
.btn {
font-family: 'Roboto', sans-serif;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--color-action);
border-radius: 4px;
cursor: pointer;
}

/*--------------------HEADER-------------*/

.header {
display: flex;
background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
}
.header-container {
display: flex;
  
}
.header-navigation {
display: flex;
align-items: center;
margin-right: auto;
}
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.header-logo {
color: #4D5AE5;
}
.logo-color {
color: #2E2F42;
margin-right: 76px;
}
.header-list {
display: flex;
}
.header-list .header-item:last-child {
margin-right: 0;
}

.header-item {
margin-right: 40px;}



.header-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;

font-weight: 500;
line-height: 1.5;
color: #2E2F42;
text-decoration: none;
}
.header-link:hover,
.header-link:focus {
color: var(--color-action); 
}
.header-link.current {
color: var(--color-action); 
}

.cont {
display: flex;
align-items:center;
}
.address-list {
display: flex;  
}
.address-item {

}
.address-list .address-item + .address-item {
margin-left: 40px;
}
.contact-link {
font-style: normal;
line-height: 1.5;
color: #434455;
}
.contact-link:hover,
.contact-link:focus {
color: var(--color-action);
}
.address-link {
line-height: 1.5;
color: #434455;
font-style: normal;
}

/* ------------HERO--------- */

.hero {
max-width: 1440px;
margin: 0 auto;
padding-top: 188px;
padding-bottom: 188px;
background-color: #2E2F42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero_bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
flex-grow: 1;
}
.hero-container {
width: 500px;
margin-right: auto;
margin-left: auto;
padding-left: 0;
padding-right: 0; 
}
.hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
  
.hero-btn {
margin-top: 48px;
text-align: center;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
margin-right: auto;
margin-left: auto;
border: none;
color: var(--color-btn-invert);
background: var(--color-action);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
.hero-btn:hover,
.hero-btn:focus {
background-color:#404BBF
}


/* ---------------ABOUT---------------------- */


.about-soc-list {
  display: flex;
  gap: 24px;
  
}
.about-icon {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}
.about-item-icon {
  display: flex;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color:  #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}

.about-soc-item {
  display: flex;
}



.about {
padding-top: 120px;
padding-bottom: 120px; 
}
.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.about-list {
display: flex;
flex-wrap: wrap;
}

.about-item {
margin-right: 24px;
width: 264px;
}
.about-item:last-child {
margin-right: 0;
}
.about-title {
margin-bottom: 8px;
}
.title {
}
.about-text {
}
.text {
}
/* -----------------DOING------------------- */
.doing {
padding-bottom: 120px;
}
.doing-title {
display: flex;
justify-content: center;
margin-bottom: 72px; 
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--color-title);
}
.doing-list {
display: flex;
flex-wrap: wrap;
}
.doing-item {
margin-right: 24px;
}
.doing-item:last-child {
margin-right: 0;
}
.doing-pic {
display: block;
}
/* ------------------TEAM-------------------- */

.team {
padding-bottom: 120px;
background: #F4F4FD;
padding-top: 120px;
}
.team-title {
display: flex;
justify-content: center;
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--color-title);
}
.team-list {
display: flex;
flex-wrap: wrap;
}
.team-item {
margin-right: 24px;
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
margin-right: 0;
}
.team-item-wrap {
 padding-top: 32px;
 padding-bottom: 32px;
}
.team-title-after {
display: flex;
justify-content: center;
margin-bottom: 8px;
}

.team-text {
display: flex;
justify-content: center;
margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-soc-item {
}
.team-soc-link {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
background-color: var(--color-action);
fill: #F4F4FD;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404BBF;
}
.link {
}

/*---------CUSTOMERS--------------------*/

.customers {
padding-top: 130px;
padding-bottom: 120px;
}
.customer-title {
display: flex;
justify-content: center;
align-items: center;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 72px;
}
.customer-list {
display: flex;
gap: 24px;  
}

.customer-item {
display: flex;
width: calc((100%-168px)/6);
height: 88px;
}

.customer-link {
display: flex;
width: 100%;
height: 100%;
border: 1px solid #8E8F99;
border-radius: 4px;
justify-content: center;
align-items: center;
}
.customer-soc-list {
fill: #8E8F99;
}
.customer-link:is(:hover,:focus) {
border: 1px solid #404BBF;
}
.customer-link:is(:hover,:focus) .customer-soc-list {
fill: #404BBF;
}

/* ------------------FOOTER------------- */ 
.footer {
padding-top: 100px;
padding-bottom: 100px;
background: #2E2F42;
}
.footer-duble {
display: flex;
}
.footer-left {
 margin-right: 120px;
}
.footer-logo {
display: inline-block;
color: #4D5AE5;
margin-bottom: 16px;
background: #2E2F42;
}

.footer-text {
max-width: 264px;
max-height: 110px;
color: #E7E9FC;
background: #2E2F42;
}
.footer-soc-list {
 display: flex;
 gap: 16px;
}
.footer-soc-item {
width: 40px;
height: 40px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
background: rgba(255, 255, 255, 0.1);
}
.footer-soc-item:hover,
.footer-soc-item:focus {
background-color: #31D0AA;
}
.footer-soc-icon {
fill: #F4F4FD;
}
.footer-icon {
display: flex;
}
.footer-title {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}


.footer-right {
display: block;
}

/* ------------------PORTFOLIO----------- */
.gallery {
display: flex;
padding-top: 96px;
padding-bottom: 120px;
}
.gallery-nav {
display: flex;
margin-right: auto;
margin-left: auto;
justify-content: center;
margin-bottom: 72px;
}
.gallery-item {
margin-right: 24px;
}

.gallery-item:last-child {
  margin-right: 0;
}
.gallery-btn {
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
background: #F4F4FD;
border: 1px solid #E7E9FC;
}
.gallery-btn:hover,
.gallery-btn:focus {
color: var(--color-btn-invert);
background: #404BBF;
}
.gallery-list {
display: flex;
flex-wrap: wrap; 
}
.gallery-item-second {
margin-right: 24px;
margin-bottom: 48px;
max-width: 358px;
background: #FFFFFF;
border-right: 1px solid #E7E9FC;
border-bottom: 1px solid #E7E9FC;
border-left: 1px solid #E7E9FC;
box-sizing: border-box;
 }
.gallery-item-second:nth-child(3n) {
margin-right: 0;
}
.gallery-item-second:nth-last-child(-n+3) {
margin-bottom: 0;
}

 .gallery-item-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

}